@{
    ViewBag.Title = "Sobre o Reclame Agora";
}
<img src="@Url.Content("~/Content/themes/base/images/ContribuaRA.jpg")" alt="ContribuaRA" id="imgcontrra"/>
<h2>Funcionamento do Reclame Agora</h2>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     O Reclame agora é um sistema totalmente gratuito onde os usuários 
postam informações de suas compras realizadas tanto pela internet, quanto em lojas físicas.
Assim, nosso sistema envia um comunicado por e-mail a empresa vendedora informando a opnião do usuário comprador.
Dessa forma, toda a interação fica disponibilizada no Reclame Agora para que outros usuários do sistema possam
pesquisar os históricos de opniões com suas respectivas resoluções e decidirem quais são as empresas mais
adequadas para confiarem suas compras. 
     Bem vindo ao Reclame Agora! É um prazer ajudá-lo a resolver o seu problema!

</p>
<h2>Ajude a manter o Reclame Agora!</h2>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Temos que nos manter e aprimorar a cada dia que passa o Reclame Agora. Como não vendemos área no Reclame Agora
para publicidades de terceiros, aos interessados que tiverem disponibilidade para nos apoiar, informamos nossa conta
para depositarem a quantia que puderem.<br /><br />
Seguem os dados da nossa conta para doação:<br /><br />
Diretor: <b>Thiago Nogueira Mota</b><br />
Banco: <b>Caixa Econômica Federal</b><br />
Agência: <b>0124</b><br />
C.C <b>00027139-6</b><br /><br />

Mais uma vez, Obrigado pelo apoio!
</p>
