@{
    ViewBag.Title = "Contato";
}
<img src="@Url.Content("~/Content/themes/base/images/ContribuaRA.jpg")" alt="ContribuaRA" id="imgcontrra"/>
<h2>Contato</h2>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    O Reclame Agora é mais um sistema pertencente a Empresa <b>SYSWARE Sistemas em TI.</b><br />
    Para nos contactar, basta enviar um email para <b>thino@ig.com.br</b>.
</p>

<h2>Nossos Serviços</h2>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    A SYSWARE Sistemas em TI desenvolve seus produtos sempre pensando no Cliente e com a visão do Clientes ao utilizar nossos produtos.
    <br />
    Assim, conseguimos sistemas que são práticos, confiáveis, de baixo custo e de fácil acesso a resposta que o Cliente deseja ver.
    <br /><br />
     Veja abaixo nossos principais Serviços e Produtos:
     <br /> <br />
     * Dúvidas sobre o Reclame Agora<br />
     * Validação de novos Fornecedores no Reclame Agora para atender as Reclamações em tempo habil<br />
     * Opniões sobre o Reclame Agora<br />
     * Serviços de Desenvolvimento<br />   
     * Consultorias em TI<br />
     * entre outros.<br />
    <br />
    Bem vindo ao Reclame Agora! É um prazer ajudá-lo a resolver o seu problema!
</p>

