<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
    <add name="sistemardcEntities" connectionString="metadata=res://*/Models.Modelrdc.csdl|res://*/Models.Modelrdc.ssdl|res://*/Models.Modelrdc.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=dc18a505-3a45-4cbd-b12b-a2040162e2c8.mysql.sequelizer.com;database=dbdc18a5053a454cbdb12ba2040162e2c8;User Id=mfawiinbrylfirrk;password=F8vfpExyPUhfs7gBYagtoEauTxtHEZNzhhxHv2b8XJkGmzSTY7wtHvka8auZmW3X;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />

    <!--
    Local
    <add name="sistemardcEntities" connectionString="metadata=res://*/Models.Modelrdc.csdl|res://*/Models.Modelrdc.ssdl|res://*/Models.Modelrdc.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;User Id=root;password=imek0905;database=sistemardc;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    Web
    <add name="sistemardcEntities" connectionString="metadata=res://*/Models.Modelrdc.csdl|res://*/Models.Modelrdc.ssdl|res://*/Models.Modelrdc.msl;provider=MySql.Data.MySqlClient;provider connection string='server=dc18a505-3a45-4cbd-b12b-a2040162e2c8.mysql.sequelizer.com;database=dbdc18a5053a454cbdb12ba2040162e2c8;uid=mfawiinbrylfirrk;pwd=F8vfpExyPUhfs7gBYagtoEauTxtHEZNzhhxHv2b8XJkGmzSTY7wtHvka8auZmW3X';" providerName="System.Data.EntityClient" />

    <add name="ConnString" connectionString="server=127.0.0.1;User Id=root;password=imek0905;database=sistemardc;Persist Security Info=True" providerName="System.Data.EntityClient" />

    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="RouteDebugger:Enabled" value="false"/>
    <!--Configurar 9 argumentos para envio de e-mail do rdc-->
    <add key="AtivarEnvioEmail" value="true"/>
    <add key="Host" value="smtp.sendgrid.net"/>
    <add key="Port" value="587"/>
    <add key="EnableSsl" value="false"/>
    <add key="Sender" value="3b79416c-aa0e-4993-b8cc-038765d8f95d@apphb.com"/>
    <add key="NameSender" value="ReclameAgora"/>
    <add key="From" value="3b79416c-aa0e-4993-b8cc-038765d8f95d@apphb.com"/>
    <add key="NameFrom" value="ReclameAgora"/>
    <add key="USN" value="3b79416c-aa0e-4993-b8cc-038765d8f95d@apphb.com"/>
    <add key="Pwd" value="thi32!@#"/>
    <add key="ToSuporte" value="thino@ig.com.br"/>
    <add key="NameToSuporte" value="Suporte do ReclameAgora"/>
  </appSettings>
  <location path="Fornecedores">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Clientes">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Reclamacoes">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Reclamar">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Content">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Code">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/login" timeout="15"/>
    </authentication>
    <!--  SQL SERVER  
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    -->
    <!--  MY SQL    -->
    <membership defaultProvider="MySqlMembershipProvider">
      <providers>
        <clear/>
        <add name="MySqlMembershipProvider" type="Andri.Web.MySqlMembershipProvider" connectionStringName="sistemardcEntities" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" autogenerateschema="true"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="MySqlProfileProvider" type="MySql.Web.Security.MySqlProfileProvider, MySql.Web" connectionStringName="sistemardcEntities" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="MySqlRoleProvider">
      <providers>
        <clear/>
        <add name="MySqlRoleProvider" type="Andri.Web.MySqlRoleProvider" connectionStringName="sistemardcEntities" applicationName="/"/>
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
